<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <title>{{ page.title | escape }}</title>
    <meta name="description" content="{{ page.excerpt | escape }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/ie10-viewport-bug-workaround.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/theme.css">
    <link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ site.baseurl | prepend: site.url }}/feed.xml">

    <!-- Favicons -->
    <link rel="icon" href="{{ site.baseurl | prepend: site.url }}/favicon.ico">
  </head>
